body {
  background-color:black;
}

.tv {
  border-radius: 15px;
  background-color: blue;
  color: white;
}

.category-card {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.question-card {
  font-family: 'Merriweather', serif;
  text-align: center;
}
