body {
  background-color:black;
}

.tv {
  border-radius: 15px;
  background-color: blue;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

.category-card {
  font-family: 'Roboto Condensed', sans-serif;
  height: 200px;
}

.question-card {
  font-family: 'Merriweather', serif;
}
